/* Elements */

h1 {
    margin-bottom: 30px;

    font-size: 100px;
}

h2 {
    font-weight: 100;
    font-size: 50px;
}

h3 {
    margin-bottom: 30px;

    font-size: 40px;
}

p { font-size: 30px; }

strong { font-weight: 100; }

.box a { font-size: 30px; }



/* Classes */

.box { width: 800px; }