:root {
    --background: #140a09;
    --boxes: #751e11;
    --links: #d76518;
    --text: #d9b683;
}



/* Elements */

body {
    padding: 20px;

    color: var(--text);
    font-family: "Open Sans", sans-serif;
    font-size: 18px;

    background: var(--background);
}

h1, h2, h3 {
    margin: 0px;

    font-family: "Patua One", serif;
}
h1 {
    font-size: 80px;

    animation: fadeInDown;
    animation-duration: 0.5s;
}
h2 { font-size: 45px; }
h3 { font-size: 25px; font-weight: 100; }

p {
    margin: 0;

    font-size: 18px;
}

a {
    color: var(--links);

    cursor: pointer;

    transition: 0.2s;
}
a:hover {
    color: var(--text);
    text-decoration: none;

    transition: 0.2s;
}

.box a { font-size: 20px; }

.flex_row .start a:hover {
    animation: tada;
    animation-duration: 1s;
}

button {
    color: var(--background);

    border: none;
    border-radius: 5px;

    background: var(--links);

    cursor: pointer;

    transition: 0.2s;
}
button:hover {
    background: var(--text);

    transition: 0.2s;
}



/* Classes */

.bottom_margin {
    margin-bottom: 60px;
}

.box, .wide_box {
    margin: 30px;
    margin-bottom: 60px;
    padding: 20px;

    width: 700px;
    min-height: 200px;

    border-radius: 5px;

    background: var(--boxes);
}
.wide_box {
    width: 1400px;
}

.box:hover .headshot {
    margin-top: -80px;

    animation: headshot 2s infinite;

    transition: 0.3s;
}

.menu_bar {
    margin: 20px;
}

.row_anchor {
    margin: 5px;
}

.headshot {
    position: absolute;

    width: 200px;

    margin-top: -60px;
    margin-left: -30px;

    border-radius: 10px;

    transition: 0.3s;
}

@keyframes headshot {
    from {
        rotate: 3deg;
    }
    50% {
        rotate: -3deg;
    }
    100% {
        rotate: 3deg;
    }
}

.member_project {
    height: 30px;

    overflow: hidden;
}

.project {
    width: 100%;
}

.name {
    margin-top: 20px;
    margin-left: 200px;
    margin-bottom: 50px;
}



/* Flexbox */

.flex_column, .flex_row { display: flex; }
.flex_column { flex-direction: column; }
.flex_row { flex-direction: row; flex-wrap: wrap; }

.align_start, .start { align-items: start; }
.align_center, .center { align-items: center; }
.align_end, .end { align-items: end; }

.justify_start, .start { justify-content: start; }
.justify_center, .center { justify-content: center; }
.justify_end, .end { justify-content: end; }